  
{% extends 'juego/basejuego.html' %}

{% load static %}


{% block content %}
<body id="page-top">



    <div class="card" style="width: 18rem;">
      <img src="{{ juego.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ juego.title }}</h5>
        <p class="card-text">{{ juego.nivel }}</p>
        <a href="{% url 'juegos:nivel' 1 %}" class="btn btn-primary">Empezar a jugar</a>
      </div>
    </div>
   

</body>
{% endblock %}


