  
{% extends 'juego/basejuego.html' %}

{% load static %}


{% block content %}
<body id="page-top">



   <h1>Sobriiiiiiiiiiiiiiiiiiiiii enhorabuena , has ganado</h1>
      <h1>Preparate y pronto tendrás una nueva aventura</h1>
   

</body>
{% endblock %}


