{% extends 'juego/basejuego.html' %}
{% load static %}
{% block title %}Crear página{% endblock %}
{% block content %}

<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        {% comment %} <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
          <div class="text-center">
            <input type="submit" class="btn btn-primary btn-block" value="Crear página" />
          </div>
        </form> {% endcomment %}
      </div>
    </div>
  </div>
</main>
{% endblock %}