  
{% extends 'juego/basejuego.html' %}

{% load static %}


{% block content %}
<body id="page-top">


  {% for juegos in object_list %}
    <div class="card" style="width: 18rem;">
      <img src="{{juegos.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{juegos.title }}</h5>
        <p class="card-text">{{juegos.content}}</p>
        <a href="{% url 'juegos:juego' juegos.id juegos.title|slugify %}" class="btn btn-primary">Empezar a jugar</a>
        {% comment %} <a href="{% url 'juegos:create' 1 %}" class="btn btn-primary">Empezar a jugar</a> {% endcomment %}
      </div>
    </div> 
  {% endfor %}

</body>
{% endblock %}


