  
{% extends 'juego/basenivel.html' %}

{% load static %}


{% block content %}
<body id="page-top">



    <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{nivel.tituloDelNivel}}</h2>
            
                <h4>Nivel : {{ nivel.numeroNivel }}</h4>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

              
            </div>
        </section>

  <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <p>{{nivel.historiaNivel}}</p>
              
            </div>
    <div class="row project  justify-content-center">  	
            <div class="col-lg-3 col-md-4 offset-lg-1 center">
                <img class="img-fluid" src="{{nivel.image.url}}" alt="">
            </div>
         
        </div>
        <hr style="width:75%;">

    {% comment %} <form action = "/juegos/comprobarcodigo/" method="post">{% csrf_token %} {% endcomment %}
    <form action = "{% url 'juegos:comprobarclave' nivel.id %}" method="post">{% csrf_token %}
      {% comment %} {{ form.as_p }} {% endcomment %}
      {% comment %} <input name="idObjeto" value= "{{ nivel.id }}"> {% endcomment %}
       <input class="form-control container-sm" type="number" placeholder="Pon tu código aquí" name="clave" >
       
         <input type="submit" class="boton btn-success" value="Comprobar Codigo"> 
          
           {% comment %} <a href="{% url 'juegos:nivel' juegos.id juegos.title|slugify %}" class="btn btn-primary">Empezar a jugar</a> {% endcomment %}
   </form>


</body>
{% endblock %}

