  
{% extends 'juego/basenivel.html' %}

{% load static %}


{% block content %}
<body id="page-top">



    <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{nivel.tituloDelNivel}}</h2>
            
                <h4>Nivelxxxxxxxxxxxxx : {{ nivel.numeroNivel }}</h4>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

              
            </div>
        </section>

  <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <p>{{nivel.historiaNivel}}</p>
              
            </div>
     </section>

      <form action ="" method="post">{% csrf_token %}
       {% comment %} {{ form.as_p }} {% endcomment %}
       <input class="form-control" type="number" placeholder="Pon tu código aquí" name="clave">
       
         <input type="submit" class="boton btn-success" value="comprobarcodigonivel">
          
      </form>

</body>
{% endblock %}
