{% extends 'juegovirus/basejuegovirus.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}
<!-- Cabecera -->

<!-- Descripción -->
<!-- Vídeo -->

<!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Aquí Empieza tu aventura</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Ayuda a los superhéroes a salvar el mundo</h2>
        <h3 class="text-white-50 mx-auto mt-2 mb-5">Comienza la misión éxodo</h2>
        <p style="color:white";>
 
 Después de muchos años de paz en la tierra, el mundo se vió inmerso en un gran conflicto. Los villanos estaban destruyendo casí por completo 
 el planeta tierra.
 Años atrás los grandes superHeroes fueron encerrados en centros de reclusión, por el miedo que tenia la gente a que pudiesen dominar el mundo
 con sus superpoderes, ahora se encuentran encerrados en un misterioso lugar a la espera de que alguién les avise y puedan ayudar a salvar el mundo.

 JOSE MIGUEL , ahora este es el plan, localiza a los super heroes y ayudalos con tu inteligencia superior a escapar de 
 sus celdas para que puedan ayudarte y hacer frente al gran monstruo EGOLAS.

 Hemos descubierto una localización donde se encuentran las tortugas ninja y el capitán américa, pero ándate con ojo porqué quizás
 encuentres algunas complicaciones. 
 No sabemos si puede que en el interior encuentres algún superhéroe más, si puedes liberalos a todos y recuerda la salvación del planeta tierra
 depende de tí, te estamos esperando.

 Vamoos allá, te hemos preparado un supercohete que sale ya móntante y dale a luchar, en un pis pas estarás en la primera misión, sigue adelante 
 y te daremos las instrucciones necesarias para que puedas pasar de nivel.

 Es el momento de estar todos unidos .


 
  </p>
        <a href="{% url 'nivel1' %}" class="btn btn-primary js-scroll-trigger">A Luchar</a>
      </div>
    </div>
  </header>
{% endblock %}