{% extends 'juegovirus/basejuegovirus.html' %}

{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}

<!-- Cabecera -->
<!-- Comprobar Código -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
    <div class="row">
    <h1 >Entra en las instalaciones</h1>
    <img href=""/>
    <p style="color:white";>Hola Jose Miguel, acabas de llegar en tu cohete a las instalaciones de los SuperHéroes, empezamos la primera misión</p>
    <p style="color:white";>Lo primero a partir de ahora tu nombre en clave será Capitán Karate</p>
    <p style="color:white";>Está prueba será la más fácil hemos accedido a los informes secretos de la policía y para poder
    entrar en el recinto verás un panel de control</p>
    <p style="color:white";>Coge el numero de tus años , sumale los años de tu hermana y ese número mételo en el panel de control,
    si acierta pasarás a la siguiente misión.</p>
    </div>

    </div>
      <div class="mx-auto text-center">      
        <a href="{% url 'nivel1' %}" class="btn btn-primary js-scroll-trigger">Panel de control</a>
      </div>
    </div>
  </header>
{% endblock %}